header {
  background-image: url('https://wallpaper-house.com/data/out/9/wallpaper2you_362683.jpg');
  background-repeat: none;
  background-position: center center;
  background-size: cover;
  text-align: center;
  color: rgb(255, 230, 230);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  
}

.intro-text {
  padding-top: 300px;
  padding-bottom: 200px;
  text-align: center;
}

.intro-lead-in {
  font-family: "Lobster", "Helvetica Neue", sans-serif;
  font-style: italic;
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 25px;
  text-align: center;
  
}

.intro-heading {
  font-family: "Lobster";
  text-transform: uppercase;
  font-weight: 700;
  font-size: 75px;
  line-height: 75px;
  margin-bottom: 50px;
}

.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

section {
  padding: 150px 0;
}

.section-subheading {
  font-size: 16px;
  font-family: "Droid Serif", "Helvetica Neue", sans-serif;
  text-transform: none;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 75px;
}